RewriteEngine on

#RewriteCond %{HTTP_HOST} ^example.pl(.*) [NC] 
#RewriteRule ^(.*)$ http://www.example.pl/$1 [R=301,L]  

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule .* index.php

