<?php

return [
	'debug'    => true,
	'timezone' =>'Europe/Warsaw',
	'language' =>'pl',
    'keys' => [
        'debug' => 'file://'.__DIR__.'/app/critical.key',
        'salt'  => ''
    ],
	'app' => [
		'project' => 'VeroCMS',
        'admin'   => 'admin@example.com',
        'brand'   => true,
	],
	'log' => [
		'level' => 'info',
	],
	'database' => [
        'prefix'   => '',
		'dbname'   => 'vero',
		'user'     => 'vero',
		'password' => '',
		'host'     => 'localhost',
		'driver'   => 'pdo_mysql',
		'driverOptions' => [\PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8'],
	],
    'mail' => [
        'from' => 'no-reply@example.com',
    ],
];
